# File manager
.DS_Store
.empty
.sparkleshare

# Glyphs temporary files
*(Autosaved).glyphs
*.vfbak

# Node
node_modules/

# Sass source maps
docs/assets/css/main.css.map

# Proof (binary InDesign files)
proof
